</main>
<footer>
    <div id="footer-text">
        <p>Created by Joseph Newman with use of the Pokemon TCG API.</p>
        <a id="link" href="https://pokemontcg.io/" target="_blank">https://pokemontcg.io/</a>
    </div>
</footer>
</body>
</html>
